<div class="modal" [ngStyle]="{display: show ? 'block' : 'none'}">
  <div class="overlay" (click)="closeDialog()"></div>
  <div class="modal_content">
    <h2>Create New Project</h2>
    <input type="text" [(ngModel)]="project.name" [disabled]="loading">
    <button *ngIf="!loading" (click)="save()">
      Save
    </button>
    <app-loading *ngIf="loading" [message]="'Creating new project...'"></app-loading>
  </div>
</div>