<h2>{{title}}</h2>

<div class="tasks">
  <select [ngModel]="filter.status" (ngModelChange)="onFilterChange('status', $event)" [disabled]="loading">
    <option [ngValue]="null">Select status</option>
    <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
  </select>
  <select [ngModel]="filter.limit" (ngModelChange)="onFilterChange('limit', $event)" [disabled]="loading">
    <option [ngValue]="null">Select limit</option>
    <option *ngFor="let l of limits" [value]="l">{{l}}</option>
  </select>
  <button (click)="clearFilter()" [disabled]="loading">Clear filter</button>
  <button (click)="loadTasks()" [disabled]="loading">Refresh</button>
  <div class="create">
    <button (click)="showModal = true" [disabled]="loading">Create Project</button>
  </div>

  <ul class="tasks-list" *ngIf="!loading && tasks.length > 0">
    <li *ngFor="let task of tasks" (click)="taskDetails(task)">
      <span>
        {{task.name}}
      </span>
      <button class="delete-button" (click)="deleteTask(task, $event)">Delete</button>
    </li>
  </ul>

  <p *ngIf="!loading && tasks.length < 1">{{emptyMessage}}</p>
</div>

<app-project-modal [show]="showModal" (closeEvent)="showModal = false">
</app-project-modal>

<div class="tasks" *ngIf="loading">
  <app-loading [message]="'Loading tasks...'"></app-loading>
</div>