  .tasks {
    width: 40em;
  }

  .tasks-list {
    list-style-type: none;
    padding: 0;
  }

  .create {
      text-align: right;
      align-items: right;
  }

  .tasks select {
    margin: 0 .5em;
  }

  .tasks li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em 0;
    padding: .5em;
  }

  .tasks li:after,
  .tasks li::after {
    content: "";
    clear: both;
    display: table;
  }

  .tasks li:hover {
    color: #607D8B;
    color: rgb(0,120,215);
    background-color: #DDD;
    left: 0.2em;
  }

  .error {color:red;}
  button.delete-button{
    float:right;
    background-color: gray !important;
    background-color: rgb(216,59,1) !important;
    margin: 0;
  }

@media screen and (max-width: 720px) {
    .tasks {
        width: 100%;
      }
  }