<button (click)="navigateBack()" [disabled]="!task">Go Back</button>
<div *ngIf="!loading">
  <h2>
    Task {{task.id}}
  </h2>
  <p>
    <span>Name: </span><span style="font-weight: bold;">{{task.name}}</span>
  </p>
  <p>
    <span>Status: </span><span style="font-weight: bold;">{{task.status}}</span>
  </p>
  <p>
    <span>Project: </span><span style="font-weight: bold;">{{task.project}}</span>
  </p>
</div>

<button (click)="showModal = true" *ngIf="!loading">
  Create New Project
</button>

<app-project-modal [show]="showModal" (closeEvent)="showModal = false">
</app-project-modal>

<app-loading *ngIf="loading" [message]="emptyMessage"></app-loading>