<h1>{{title}}</h1>
<nav class="top-bar" *ngIf="user">
  <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
  <div class="tooltip">{{user.username}}
    <span class="tooltiptext">{{user.first_name}} {{user.last_name}}</span>
  </div>
</nav>

<div class="card" *ngIf="user">
  <router-outlet></router-outlet>
</div>

<app-loading *ngIf="loading" [message]="'Loading user info...'"></app-loading>
<p *ngIf="!loading && emptyMessage">{{emptyMessage}}</p>
<button *ngIf="!loading && emptyMessage" (click)="loadUser()">Load again</button>