h1 {
    color: #567285;
    padding: 0 15px;
  }

  nav a,
.tooltip {
    padding: 10px 10px;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    color: #b4c3cf;
    font-size: 1rem;
  }
  
  nav a:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
  }

  .top-bar {
    background-color: #0c2f4c;
  }

  .card {
      margin: 20px;
      background: white;
      border: 1px solid black;
      padding: 10px;
  }
  
 .tooltip {
    text-align: end;
    float: right;
    margin-right: 30px;
    position: relative;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
