body,
html {
    margin: 0;
}

body {
    background: #f3f5f7;
}

button {
    border: none;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
    cursor: hand;
    color:white;
    background: #567285;
  }
  
  button:hover {
    color: #aaa;
  }